#account-man{
	.group:nth-child(n + 2):before{
		@include horizontal-break-line($lightblue, 1px);
	}

	.group{
		> div:not(:last-of-type){
			border-right: solid 1px $lightblue;
			height: 100%;
		}
	}

	.order, .details{
		margin: 0.2rem 1rem;
		span{
			float: right;
		}
	}

	.danger-zone{
		width: 71.87500rem;
		margin: auto;

		.a-button{
			width: 66%;
			display: block;
			margin: auto;
			margin-top: 1rem;
			background-color: #DF3E3E;
			@include transition-duration(0.2s);
		}

		.a-button:hover{
			background-color: lighten(#DF3E3E, 10%);
		}
	}
}

#account-man-close{
	p{
		text-align: center;
	}

	button{
		background-color: #DF3E3E;
		display: block;
		width: 66%;
		margin: auto;
		margin-top: 1rem;
		@include transition-duration(0.2s);
	}

	button:hover{
		background-color: lighten(#DF3E3E, 10%);
	}
}

#account-man-pass-change, #account-man-email-change{

	form, table, button{
		margin: auto;
	}

	h2{
		margin: 2rem 0 3rem 0;
	}

	button{
		display: block;
		width: 40%;
		margin-top: 2rem;
	}

	tr{
		>td label{
			width: 15rem;
		}
	}

	#current-pass{
		margin-bottom: 1rem;
	}
}