#cart-page{

	h3{
		margin-top:2rem;
	}
	
	.cart-item{
		border-right: solid 1px $lightblue;
		padding-top: 0.8rem;

		p{
			margin: auto;
		}
	}

	.cart-item:first-of-type{
		margin-top: 2rem;
	}

	.cart-item:after{
		content: "";
		display: block;
		width: 80%;
		margin: auto;
		height: 1px;
		background: $lightblue;
	}

	.cart-item:last-of-type:after{
		display: none;
	}

	.to-checkout{
		h4{
			text-align: center;
		}
		.a-button{
			width: 70%;
			display: block;
			margin: auto;
			margin-top: 10rem;
		}
	}
}