body { 
	font-family: $font-stack2;
}

//forms
form {

	input, button, label{
		font-size: 20px;
	}

	label{
		display: inline-block;
		height: 36px;
		width: 8rem;
		margin-right: 3rem;
	}

	input{
		height: 32px;
		width: 300px;
		border: 1px solid #7B7B7B;
	}
	button{
		height: 36px;
		background: $blue;
		color: white;
		border: none;
		@include transition-duration(0.2s);
	}
	button:hover, button:focus{
			background: $darkblue;
		}
}

.centre{
	margin: auto;
}

a.a-button{
	height: 36px;
	width: 100%;
	background: $blue;
	@include transition-duration(0.2s);
	color: white;
	font-size: 20px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;

	span{
		display: inline-block;
		height: 36px;
		// vertical-align: middle;
	}
}

a.a-button:visited{
	color: white;
}

a.a-button:hover, a.a-button:focus {
	background: $darkblue;
}

//A bunch of stuff to deal with the wonder differences presented by mobile 
//screens
.desktop{
	display: block;
}
.mobile{
	display: none;
}

@media screen and (max-width: 40rem){
	.desktop{
		display: none;
	}
	.mobile{
		display: block;
	}
}