/*
 * Handles the styling of the products accross the site
 */

 /*******************************************************************************
	Global 
*******************************************************************************/

/*******************************************************************************
	Product Small
*******************************************************************************/

.product-small{

	width: 300px;
	margin: 1rem 1rem;
	// border: 1px solid black;

	img{
		width: 100px;
		height: 100px;
		float: left;
	}

	div{
		float: left;
		margin-left: 0.5rem;

		h4{
			font-weight: bold;
		}
	}

	a{
		color: black;
	}
}

.product-small:after{
	content: "";
	display: block;
	clear:both;
}

/*******************************************************************************
	Product picked-medium
*******************************************************************************/

.product-picked-medium{

	margin: 1rem 1rem;
	// border: 1px solid black;

	img{
		width: 100px;
		height: 100px;
		float: left;
	}

	div{
		float: left;
		margin-left: 0.5rem;

		h4{
			font-weight: bold;
		}
	}

	a{
		color: black;
	}

	.product-info{
		margin-top: 17px;
	}

	.picked-options{
		float:right;
		margin-top: 21px;
	}

	#adult-list{

		>li {
			display: inline-block;
			margin: 0 1rem;
		}
		#child-list{
			#colour, #quantity, #size{
				margin-top: 0.4rem;
				display: inline-block;
				float: left;
				padding-left: 0.7rem;
				padding-right: 0.7rem;
				border: 1px solid $grey;
				color: black;
			}
		}
	}
}

.product-picked-medium:after{
	content: "";
	display: block;
	clear:both;
}

/*******************************************************************************
	Product Large
*******************************************************************************/

.product-large{

	padding: 1rem 0;

	h1, h2, h3, h4{
		text-align: left;
		margin: 0 0 0 1rem;
	}

	p{
		padding: 1rem 0;
	}

	#img-slider{
		float: left;
		height: 18.75rem;
		width: 18.75rem;
		background: red;
	}

	.product-info{

		float: left;	

		h2{
			padding-top: 2rem;
		}

		h4{
			padding-top: 0.5rem;
		}
	}

	table{
		margin: 1rem 0;
	}

	td:last-of-type {
		padding-left: 1rem;
	}
}