/*
 * Handles the styling of the products accross the site
 */

 /*******************************************************************************
	Global 
*******************************************************************************/

/*******************************************************************************
	Product Small
*******************************************************************************/

.product-small{

	width: 300px;
	margin: 1rem 1rem;
	// border: 1px solid black;

	img{
		width: 100px;
		height: 100px;
		float: left;
	}

	div{
		float: left;
		margin-left: 0.5rem;

		h4{
			font-weight: bold;
		}
	}

	a{
		color: black;
	}
}

.product-small:after{
	content: "";
	display: block;
	clear:both;
}

/*******************************************************************************
	Product medium
*******************************************************************************/

.product-medium{

	margin: 1rem 1rem;
	// border: 1px solid black;

	img{
		width: 100px;
		height: 100px;
		float: left;
	}

	div{
		float: left;
		margin-left: 0.5rem;

		h4{
			font-weight: bold;
		}
	}

	a{
		color: black;
	}

	.a-button{
		color: white;
		padding: 0 1rem;
		margin-right: 1rem;
	}
}

/*******************************************************************************
	Product sale-medium
*******************************************************************************/

.product-medium-sale{

}

/*******************************************************************************
	Product picked-medium
*******************************************************************************/

.product-picked-medium{

	.product-info{
		margin-top: 17px;
	}

	.picked-options{
		float:right;
		margin-top: 21px;
	}

	#adult-list{

		>li {
			display: inline-block;
			margin: 0 1rem;
		}
		#child-list{
			#colour, #quantity, #size, #remove{
				margin-top: 0.4rem;
				display: inline-block;
				float: left;
				padding-left: 0.7rem;
				padding-right: 0.7rem;
				border: 1px solid $grey;
				color: black;
				height: 2.37500rem;
				line-height: 2.375rem;
			}

			#remove{
				color: white;
			}
		}
	}
}

.product-picked-medium:after{
	content: "";
	display: block;
	clear:both;
}

/*******************************************************************************
	Product Large
*******************************************************************************/

.product-large{

	height: 100%;
	padding: 1rem 0;

	h1, h2, h3, h4{
		text-align: left;
		margin: 0 0 0 1rem;
	}

	p{
		padding-left: 35%;
	}

	#img-slider{
		float: left;
		height: 100%;
		width: 18.75rem;
	}

	.product-info{

		float: left;	

		h2{
			padding-top: 2rem;
		}

		h4{
			padding-top: 0.5rem;
		}
	}

	table{
		margin: 1rem 0;
	}

	td:last-of-type {
		padding-left: 1rem;
	}
}

/*******************************************************************************
	Product extralarge
*******************************************************************************/
.product-extralarge{
	height: 20rem;
	overflow: hidden;

	a{
		color: black;
	}

	img{
		width: 17rem;
		height: 17rem;
		float: left;
		margin: 0.8rem 0 0 12rem;
	}

	.product-info{
		float: right;	
		margin-right: 12rem;
		hgroup{
			margin-top: 2rem;
		}
	}
}

.reversed{
	img{
		margin: 0.8rem 12rem 0 0;
		float: right;
	}

	.product-info{
		float: left;
		margin-left: 12rem;
		margin-right: 0;
	}
}