.purchase{

	float: left;
	margin-top: 1rem;
	border-left: 1px solid $lightblue;
	height: 100%;

	form{
		padding-left: 0.5rem;
	}

	div:after{
		display: block;
		content: "";
		clear: both;
	}

	.select{

		padding: 1rem 0 1.5rem 0;

		li:first-of-type{

			font-size: 1.4rem;
		}

		button{
			display: block;
			margin: 0.5rem 0.5rem;
			float: left;
			padding-left: 0.7rem;
			padding-right: 0.7rem;
			border: 1px solid $grey;
			color: black;
			background-color: white;
		}

		button:hover{
			background-color: $lightblue;
		}

		.selectedsize, .selectedcolour{
			background-color: $blue;
			color: white;
		}
	}

	.color-select{
		padding-top: 2.5rem;
		display: block;
	}

	label{
		padding-top: 2.5rem;
		font-size: 1.4rem;
	}

	select{
		display: block;
		clear: both;
	}

	button[type="submit"]{
		margin-top: 2.5rem;
		display: block;
		clear: both;
		width: 10rem;
		height: 2rem;
	}

	select, button {
		margin-left: 0.5rem;
	}
}