/*
 * StyleSheet for spamazon
 *
 *
 * This should be responsive
 *
 *
 * Authors:
 *		Thomas Maxwell
 *		Add your name as you add stuff
 */

/*******************************************************************************
	Global Vars
*******************************************************************************/

//fonts
$font-stack1: Helvetica Neue, Helvetica, Arial;
$font-stack2: 'Open sans', sans-serif;

//color scheme
$blue: #4C9CF1;
$lightblue: lighten($blue, 20%); //get actual color code
$darkblue: #2262AD;
$grey: #7B7B7B;

//mixins
@import "_mixins.scss";

/*******************************************************************************
	Global stuff
*******************************************************************************/

@import "_global.scss";
@import "_grid.scss";

/*******************************************************************************
	Typography
*******************************************************************************/

@import "_typography.scss";

/*******************************************************************************
	Header
*******************************************************************************/

//nav size
$total: 100%;
$main-nav-width: 68%;
$main-nav-li-width: $main-nav-width /4; 

$user-nav-width: 21%;

/* The minus 1% is important, due to the li elements having borders. Exclude it
 * and things get messy quickly. This isn't the best solution, but its quick and 
 * easy
 */
$cart-nav-width: $total - $main-nav-width -$user-nav-width - 1%;

@import "_header.scss";

/*******************************************************************************
	About us
*******************************************************************************/

@import "_aboutus.scss";

/*******************************************************************************
	Log in / Register
*******************************************************************************/

@import "_login-reg.scss";

/*******************************************************************************
	Product Page
*******************************************************************************/

@import "_product-page.scss";

/*******************************************************************************
	Product
*******************************************************************************/

@import "_product.scss";

/*******************************************************************************
	Review
*******************************************************************************/

@import "_reviews.scss";

/*******************************************************************************
	Error pages
*******************************************************************************/

@import "_errors.scss";

/*******************************************************************************
	Footer
*******************************************************************************/

/* This is that amount of the footer to show when the the page content is not
 * large enough to remove the footer from the initial view of the page.
 */
$footer-height: 8.8rem;

//first ram the footer down to the bottom of the page
html, body {
	position: absolute;
	width: 100%;
	min-height: 100%;
}

article {
	padding-bottom: $footer-height;
}


footer {
	height: $footer-height;
	width: 100%;
	position: absolute;
	bottom: 0;
}

//now style the footer
@import "_footer.scss";
