/*
 * StyleSheet for spamazon
 *
 *
 * This should be responsive
 *
 *
 * Authors:
 *		Thomas Maxwell
 *		Add your name as you add stuff
 */

/*******************************************************************************
	Global Vars
*******************************************************************************/

//fonts
$font-stack1: Helvetica Neue, Helvetica, Arial;
$font-stack2: 'Open sans', sans-serif;

//color scheme
$blue: #4C9CF1;
$lightblue: lighten($blue, 20%); //get actual color code
$darkblue: #2262AD;
$grey: #7B7B7B;

//mixins
@import "_mixins.scss";

/*******************************************************************************
	Global stuff
*******************************************************************************/

@import "_global.scss";
@import "_grid.scss";

/*******************************************************************************
	Typography
*******************************************************************************/

@import "_typography.scss";

/*******************************************************************************
	Header
*******************************************************************************/

//nav size
$total: 100%;
$main-nav-width: 68%;
$main-nav-li-width: $main-nav-width /4; 

$user-nav-width: 21%;

/* The minus 1% is important, due to the li elements having borders. Exclude it
 * and things get messy quickly. This isn't the best solution, but its quick and 
 * easy
 */
$cart-nav-width: $total - $main-nav-width -$user-nav-width - 1%;

@import "_header.scss";

/*******************************************************************************
	Home pages
*******************************************************************************/

@import "_home.scss";

/*******************************************************************************
	Mens Page
*******************************************************************************/

.links{
	margin: 1rem 0;
	font-size: 1.5rem;

	li{
		margin: 1rem 0;
	}
}

.mens{
	#slider{
		border-left: 1px solid $lightblue;
	}

		.cats:before{
			@include horizontal-break-line($lightblue, 1px);
		}

	.cats{

		a:visited{
			color: $blue;
		}

		margin-bottom: 0;

		ul{
			margin: auto;
		}

		li{
			display: inline-block;
			width: 24.5%;
			text-align: center;
			font-size: 1.5rem;
			margin: 1rem 0;
		}
	}
}

/*******************************************************************************
	Search
*******************************************************************************/

.search{
	.control{
		margin: 1rem 0;
		border-right: 1px solid $lightblue;
		div{
			padding-right: 1rem
		}
	}

	.result{

		h3{
			text-align: left;
			margin: 1rem 0 2rem 1rem;
		}

		.item:after{
			content: "";
			display: block;
			clear: both;
		}

		.item:not(:first-of-type):before{
			@include horizontal-break-line($lightblue, 1px);
			width: 80%;
		}

	}
}

/*******************************************************************************
	About us
*******************************************************************************/

@import "_aboutus.scss";

/*******************************************************************************
	Log in / RegPister
*******************************************************************************/

@import "_login-reg.scss";

/*******************************************************************************
	Account Management
*******************************************************************************/

#account-man{
	.group:nth-child(n + 2):before{
		@include horizontal-break-line($lightblue, 1px);
	}

	.group{
		> div:not(:last-of-type){
			border-right: solid 1px $lightblue;
			height: 100%;
		}
	}

	.order, .details{
		margin: 0.2rem 1rem;
		span{
			float: right;
		}
	}

	.danger-zone{
		width: 71.87500rem;
		margin: auto;

		.a-button{
			width: 66%;
			display: block;
			margin: auto;
			margin-top: 1rem;
			background-color: #DF3E3E;
			@include transition-duration(0.2s);
		}

		.a-button:hover{
			background-color: lighten(#DF3E3E, 10%);
		}
	}
}

#account-man-close{
	p{
		text-align: center;
	}

	button{
		background-color: #DF3E3E;
		display: block;
		width: 66%;
		margin: auto;
		margin-top: 1rem;
		@include transition-duration(0.2s);
	}

	button:hover{
		background-color: lighten(#DF3E3E, 10%);
	}
}

#account-man-pass-change, #account-man-email-change{

	form, table, button{
		margin: auto;
	}

	h2{
		margin: 2rem 0 3rem 0;
	}

	button{
		display: block;
		width: 40%;
		margin-top: 2rem;
	}

	tr{
		>td label{
			width: 15rem;
		}
	}

	#current-pass{
		margin-bottom: 1rem;
	}
}

/*******************************************************************************
	Checkout
*******************************************************************************/

@import "_cart.scss";

/*******************************************************************************
	View Order page
*******************************************************************************/

#view-order{
	h3{
		padding: 1rem 0 0.5rem 0;
	}
	#product::before{
		@include horizontal-break-line($lightblue, 1px);
	}
	#payment::before{
		@include horizontal-break-line($lightblue, 1px);
	}
	#address::before{
		@include horizontal-break-line($lightblue, 1px);
	}

	.product-details{
		display: none;
	}
}


/*******************************************************************************
	Product Page
*******************************************************************************/

@import "_product-page.scss";

/*******************************************************************************
	Reviews Page
*******************************************************************************/

@import "_reviews-page.scss";

/*******************************************************************************
	Product
*******************************************************************************/

@import "_product.scss";

/*******************************************************************************
	Review
*******************************************************************************/

@import "_reviews.scss";

/*******************************************************************************
	Error pages
*******************************************************************************/

@import "_errors.scss";

/*******************************************************************************
	Footer
*******************************************************************************/

/* This is that amount of the footer to show when the the page content is not
 * large enough to remove the footer from the initial view of the page.
 */
$footer-height: 8.8rem;

//first ram the footer down to the bottom of the page
html, body {
	position: absolute;
	width: 100%;
	min-height: 100%;
}

article {
	padding-bottom: $footer-height;
}


footer {
	height: $footer-height;
	width: 100%;
	position: absolute;
	bottom: 0;
}

//now style the footer
@import "_footer.scss";
