/*
 * StyleSheet for spamazon
 *
 *
 * This should be responsive
 *
 *
 * Authors:
 *		Thomas Maxwell
 *		Add your name as you add stuff
 */
/*******************************************************************************
	Global Vars
*******************************************************************************/
/*******************************************************************************
	Global stuff
*******************************************************************************/
body {
  font-family: "Open sans", sans-serif; }

.content {
  width: 960px;
  margin: auto;
  margin-bottom: 3rem; }

.l-content {
  width: 1200px;
  margin: auto;
  margin-bottom: 3rem; }

.tab {
  padding-left: 1rem; }

article {
  float: left;
  margin: 0 auto; }

form input, form button, form label {
  font-size: 20px; }
form label {
  display: inline-block;
  height: 36px;
  width: 8rem;
  margin-right: 3rem; }
form input {
  height: 32px;
  width: 300px;
  border: 1px solid #7b7b7b; }
form button {
  height: 36px;
  background: #4c9cf1;
  color: white;
  border: none;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  transition-duration: 0.2s; }
form button:hover, form button:focus {
  background: #2262ad; }

.centre {
  margin: auto; }

a.a-button {
  height: 36px;
  width: 100%;
  background: #4c9cf1;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  transition-duration: 0.2s;
  color: white;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  text-align: center; }
  a.a-button span {
    display: inline-block;
    height: 36px; }

a.a-button:visited {
  color: white; }

a.a-button:hover, a.a-button:focus {
  background: #2262ad; }

.desktop {
  display: block; }

.mobile {
  display: none; }

@media screen and (max-width: 40rem) {
  .desktop {
    display: none; }

  .mobile {
    display: block; } }
.section {
  width: 100%;
  clear: both;
  padding: 0;
  margin-left: -1rem; }

.col {
  display: block;
  float: left;
  width: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  -ms-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0 0;
  margin: 0 0 1rem 0;
  border-left: 1rem solid transparent; }

.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.s1 {
  width: 8.33333%; }

.s2 {
  width: 16.66667%; }

.s3 {
  width: 25%; }

.s4 {
  width: 33.33333%; }

.s5 {
  width: 41.66667%; }

.s6 {
  width: 50%; }

.s7 {
  width: 58.33333%; }

.s8 {
  width: 66.66667%; }

.s9 {
  width: 75%; }

.s10 {
  width: 83.33333%; }

.s11 {
  width: 91.66667%; }

.s12 {
  width: 100%; }

/*******************************************************************************
	Typography
*******************************************************************************/
h1.page-header:after, h2.page-subheader:after {
  content: "";
  display: block;
  height: 2px;
  margin: auto;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  background: #4c9cf1; }

h1 {
  text-align: center;
  margin-top: 2rem;
  font-size: 2.5rem; }

h1.page-header:after {
  width: 30rem; }

h2 {
  text-align: center;
  font-size: 1.7rem;
  margin: 1.4rem 0; }

h2.page-subheader:after {
  width: 20rem; }

h3 {
  text-align: center;
  font-size: 1.4rem;
  margin: 1rem 0 0.5rem 0; }

p, li, td, a {
  line-height: 1.6rem; }

p {
  margin: 0.5rem 0; }

a {
  text-decoration: none;
  color: #2262ad; }

a:visited {
  color: #abd0f8; }

nav {
  font-size: 1.5rem; }
  nav a {
    color: white; }
  nav .current {
    color: #2262ad; }

/*******************************************************************************
	Header
*******************************************************************************/
/* The minus 1% is important, due to the li elements having borders. Exclude it
 * and things get messy quickly. This isn't the best solution, but its quick and 
 * easy
 */
/******************************
 Vars
 *****************************/
/*****************************************************************************/
header {
  width: 100%; }
  header a:visited {
    color: white; }
  header img {
    margin: 10px 0 10px 5rem;
    height: 60px; }
  header form {
    float: right;
    margin: 22px 5rem; }
  header input, header button {
    font-size: 20px;
    border: 1px solid #7B7B7B; }
  header input {
    height: 32px;
    width: 300px; }
  header button {
    height: 36px;
    background: #4c9cf1;
    color: white;
    border: none;
    margin-left: 0.5rem; }

@media screen and (max-width: 56.25rem) {
  img, form {
    float: none;
    margin: auto; } }
@media screen and (max-width: 40rem) {
  img, form {
    display: none; } }
/******************************
 Global Menu styles
 *****************************/
#nav {
  clear: both;
  height: 57px;
  background-color: #4c9cf1;
  position: relative;
  z-index: 10; }

nav {
  text-align: center; }
  nav > a {
    display: none; }
  nav li {
    position: relative;
    background-color: #4c9cf1;
    border-left: 1px solid #abd0f8;
    border-right: 1px solid #2262ad; }
  nav > ul {
    margin: auto 0; }
    nav > ul > li {
      height: 100%;
      float: left;
      padding: 1rem 0; }
    nav > ul > li:hover {
      background-color: #2262ad; }
  nav li ul {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%; }
    nav li ul li {
      background-color: #2262ad;
      padding: 1rem 0;
      border-top: 1px solid #abd0f8; }
    nav li ul li:hover {
      background-color: #4c9cf1; }
  nav li:hover ul {
    display: block; }

/******************************
 Individual Menu styles
 *****************************/
#nav-menu > ul > li {
  width: 17%; }
#nav-menu li:first-of-type {
  border-left: none; }
#nav-menu ul li:first-of-type {
  border-left: 1px solid #abd0f8; }

#cart-menu > ul > li {
  width: 10%; }

#user-menu > ul > li {
  width: 21%;
  border-right: none; }

/*******************************************************************************
	Media Queries
*******************************************************************************/
@media screen and (max-width: 40rem) {
  header nav {
    position: relative; }
    header nav > ul {
      height: auto;
      display: none;
      position: absolute;
      left: 0;
      right: 0; }
      header nav > ul > li {
        width: 100%;
        float: none; }
    header nav li ul {
      position: static; }
    header nav a {
      width: 3rem;
      height: 3rem;
      text-indent: -99999px; }
    header nav .nav-icon {
      display: block;
      position: absolute;
      width: 37px;
      height: 37px;
      margin: 10px;
      background-size: contain;
      background-position: center; }
    header nav .menu-icon {
      top: 0;
      left: 0;
      background: url("../img/menu.png"); }
    header nav .cart-icon {
      top: 0;
      right: 57px;
      background: url("../img/cart.png"); }
    header nav .user-icon {
      top: 0;
      right: 0;
      background: url("../img/user.png"); }
  header #nav-menu, header #cart-menu, header #user-menu {
    width: 57px; }
  header nav:target > ul {
    display: block; }
  header nav:not(:target) > a:first-of-type, header nav:target > a:last-of-type {
    display: block; } }
/*******************************************************************************
	Home pages
*******************************************************************************/
.flexslider {
  height: 20rem;
  width: 101%;
  margin-left: -0.5%;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  border: 1px solid white; }
  .flexslider .slides {
    height: 100%; }
    .flexslider .slides li {
      height: 100%; }
  .flexslider .flex-direction-nav a {
    overflow: initial; }
  .flexslider .flex-control-paging li a {
    background: #4c9cf1; }
  .flexslider .flex-control-paging li .flex-active {
    background: #2262ad; }

.welcome {
  padding-top: 4rem; }
  .welcome p {
    text-align: center;
    margin-top: 2rem; }

.christmas {
  background: #BF1002;
  background: #fd2402;
  background: -moz-linear-gradient(-45deg, #fd2402 0%, #bf1002 61%, #bf1002 61%, #d61204 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #fd2402), color-stop(61%, #bf1002), color-stop(61%, #bf1002), color-stop(100%, #d61204));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #fd2402 0%, #bf1002 61%, #bf1002 61%, #d61204 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #fd2402 0%, #bf1002 61%, #bf1002 61%, #d61204 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #fd2402 0%, #bf1002 61%, #bf1002 61%, #d61204 100%);
  /* IE10+ */
  background: linear-gradient(135deg, #fd2402 0%, #bf1002 61%, #bf1002 61%, #d61204 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fd2402', endColorstr='#d61204',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  color: white;
  height: 100%; }
  .christmas h1, .christmas h2 {
    display: inline-block; }
  .christmas h1 {
    font-size: 4rem; }
  .christmas h2:first-of-type {
    margin: 0 1rem 0 5rem; }
  .christmas h2:last-of-type {
    margin: 1rem 0 0 1rem; }
  .christmas div:last-of-type {
    width: 100%;
    text-align: right;
    position: absolute;
    bottom: 2rem; }
    .christmas div:last-of-type h2 {
      margin-right: 5rem; }

.men {
  height: 100%; }
  .men h1 {
    font-weight: bold; }
  .men a, .men a:visited {
    padding-top: 4rem;
    color: black;
    display: block; }

.todays-deals:before {
  content: "";
  display: block;
  width: 95%;
  height: 1px;
  margin: auto;
  background: #abd0f8; }

.todays-deals .product:not(:last-of-type) {
  border-right: solid 1px #abd0f8;
  height: 100%; }

.deal-header h2 {
  float: left; }
.deal-header h3 {
  float: right;
  padding-top: 0.5rem; }

.deal-header:after {
  content: "";
  display: block;
  clear: both; }

.suggested-items h2 {
  text-align: left; }

/*******************************************************************************
	About us
*******************************************************************************/
#about-us #about h3:after {
  display: none; }
#about-us #about li {
  text-align: center; }
#about-us h3:after {
  content: "";
  display: block;
  margin: auto;
  height: 1px;
  width: 10rem;
  background: #abd0f8; }
#about-us li a {
  display: block;
  text-align: center;
  line-height: 1.6rem; }
#about-us .website:before, #about-us .email:before, #about-us .twitter:before, #about-us .github:before, #about-us .linkedin:before {
  content: "";
  display: inline-block;
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem; }
#about-us .website:before {
  background-image: url("../img/icons/home.svg"); }
#about-us .email:before {
  background-image: url("../img/icons/email.svg"); }
#about-us .twitter:before {
  background-image: url("../img/icons/twitter.svg"); }
#about-us .github:before {
  background-image: url("../img/icons/github.svg"); }
#about-us .linkedin:before {
  background-image: url("../img/icons/linkedin.svg"); }
#about-us p {
  text-align: center; }

/*******************************************************************************
	Log in / Register
*******************************************************************************/
h1 {
  text-align: center;
  margin-top: 2rem; }

.log-in, .reg {
  margin: auto; }
  .log-in form button, .reg form button {
    display: block;
    text-align: center;
    margin: auto; }
  .log-in p, .reg p {
    margin: auto;
    margin-top: 2.5rem;
    text-align: center;
    font-size: 20px; }
  .log-in a, .reg a {
    margin: auto;
    margin-top: 0.8rem; }

.log-in {
  width: 30rem; }
  .log-in form {
    margin-top: 5rem; }
    .log-in form button {
      width: 100%; }
    .log-in form div {
      margin-top: 0.8rem; }

.reg {
  width: 36rem; }
  .reg h2 {
    text-align: center;
    margin: 1rem 0 0.6rem 0; }
  .reg form {
    margin: 2rem 0 5rem 0; }
    .reg form button {
      width: 100%;
      margin-top: 1rem; }
    .reg form label {
      width: 100%;
      min-width: 14.07rem; }

/*******************************************************************************
	Account Management
*******************************************************************************/
#account-man .group:nth-child(n + 2):before {
  content: "";
  display: block;
  width: 95%;
  height: 1px;
  margin: auto;
  background: #abd0f8; }
#account-man .group > div:not(:last-of-type) {
  border-right: solid 1px #abd0f8;
  height: 100%; }
#account-man .order, #account-man .details {
  margin: 0.2rem 1rem; }
  #account-man .order span, #account-man .details span {
    float: right; }
#account-man .danger-zone {
  width: 71.87500rem;
  margin: auto; }
  #account-man .danger-zone .a-button {
    width: 66%;
    display: block;
    margin: auto;
    margin-top: 1rem;
    background-color: #DF3E3E;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    transition-duration: 0.2s; }
  #account-man .danger-zone .a-button:hover {
    background-color: #e66a6a; }

#account-man-close p {
  text-align: center; }
#account-man-close button {
  background-color: #DF3E3E;
  display: block;
  width: 66%;
  margin: auto;
  margin-top: 1rem;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  transition-duration: 0.2s; }
#account-man-close button:hover {
  background-color: #e66a6a; }

#account-man-pass-change form, #account-man-pass-change table, #account-man-pass-change button, #account-man-email-change form, #account-man-email-change table, #account-man-email-change button {
  margin: auto; }
#account-man-pass-change h2, #account-man-email-change h2 {
  margin: 2rem 0 3rem 0; }
#account-man-pass-change button, #account-man-email-change button {
  display: block;
  width: 40%;
  margin-top: 2rem; }
#account-man-pass-change tr > td label, #account-man-email-change tr > td label {
  width: 15rem; }
#account-man-pass-change #current-pass, #account-man-email-change #current-pass {
  margin-bottom: 1rem; }

/*******************************************************************************
	Checkout
*******************************************************************************/
#cart-page h3 {
  margin-top: 2rem; }
#cart-page .cart-item {
  border-right: solid 1px #abd0f8;
  padding-top: 0.8rem; }
#cart-page .cart-item:first-of-type {
  margin-top: 2rem; }
#cart-page .cart-item:after {
  content: "";
  display: block;
  width: 80%;
  margin: auto;
  height: 1px;
  background: #abd0f8; }
#cart-page .cart-item:last-of-type:after {
  display: none; }
#cart-page .to-checkout .a-button {
  width: 70%;
  display: block;
  margin: auto;
  margin-top: 10rem; }

/*******************************************************************************
	View Order page
*******************************************************************************/
#view-order h3 {
  padding: 1rem 0 0.5rem 0; }
#view-order #product::before {
  content: "";
  display: block;
  width: 95%;
  height: 1px;
  margin: auto;
  background: #abd0f8; }
#view-order #payment::before {
  content: "";
  display: block;
  width: 95%;
  height: 1px;
  margin: auto;
  background: #abd0f8; }
#view-order #address::before {
  content: "";
  display: block;
  width: 95%;
  height: 1px;
  margin: auto;
  background: #abd0f8; }
#view-order .product-details {
  display: none; }

/*******************************************************************************
	Product Page
*******************************************************************************/
/*******************************************************************************
	Purchase Section
*******************************************************************************/
.purchase:before {
  float: left;
  content: "";
  display: block;
  height: 500px;
  width: 1px;
  background: #abd0f8; }

.purchase {
  float: left;
  margin-top: 1rem; }
  .purchase form {
    padding-left: 0.5rem; }
  .purchase .select {
    padding: 1rem 0 1.5rem 0; }
    .purchase .select li:first-of-type {
      font-size: 1.4rem; }
    .purchase .select button {
      display: inline-block;
      margin: 0.5rem 0.5rem;
      float: left;
      padding-left: 0.7rem;
      padding-right: 0.7rem;
      border: 1px solid #7b7b7b;
      color: black; }
    .purchase .select button:hover {
      background-color: #abd0f8; }
    .purchase .select .selected {
      background-color: #4c9cf1;
      color: white; }
  .purchase .size-select button {
    background: white; }
  .purchase .color-select {
    padding-top: 2.5rem;
    display: block; }
  .purchase label {
    padding-top: 1rem; }
  .purchase select {
    display: block;
    clear: both; }
  .purchase button[type="submit"] {
    display: block;
    clear: both; }
  .purchase select, .purchase button {
    margin-left: 0.5rem; }

/*******************************************************************************
	suggested Items Section
*******************************************************************************/
.suggested-items:before {
  content: "";
  display: block;
  width: 95%;
  height: 1px;
  margin: auto;
  background: #abd0f8; }

.suggested-items h3 {
  text-align: left; }
.suggested-items .items {
  white-space: nowrap; }
  .suggested-items .items div {
    display: inline-block; }
.suggested-items .items:after {
  content: "";
  display: block;
  clear: both; }

/*******************************************************************************
	Reviews Section
*******************************************************************************/
.reviews:before {
  content: "";
  display: block;
  width: 95%;
  height: 1px;
  margin: auto;
  background: #abd0f8; }

.reviews h3 {
  text-align: left; }
.reviews .sub-reviews:before {
  float: left;
  content: "";
  display: block;
  height: 500px;
  width: 1px;
  background: #abd0f8;
  margin-right: 0.5rem; }
.reviews .more {
  width: 100%; }
  .reviews .more a {
    width: 25%;
    margin-left: 12.5%; }
  .reviews .more a:last-of-type {
    margin-left: 25%; }

/*******************************************************************************
	Reviews Page
*******************************************************************************/
#reviews-page nav a:visited {
  color: #2262ad; }
#reviews-page nav:after {
  content: "";
  display: block;
  width: 95%;
  height: 1px;
  margin: auto;
  background: #abd0f8; }

/*******************************************************************************
	Product
*******************************************************************************/
/*
 * Handles the styling of the products accross the site
 */
 /*******************************************************************************
	Global 
*******************************************************************************/
/*******************************************************************************
	Product Small
*******************************************************************************/
.product-small {
  width: 300px;
  margin: 1rem 1rem; }
  .product-small img {
    width: 100px;
    height: 100px;
    float: left; }
  .product-small div {
    float: left;
    margin-left: 0.5rem; }
    .product-small div h4 {
      font-weight: bold; }
  .product-small a {
    color: black; }

.product-small:after {
  content: "";
  display: block;
  clear: both; }

/*******************************************************************************
	Product medium
*******************************************************************************/
.product-medium {
  margin: 1rem 1rem; }
  .product-medium img {
    width: 100px;
    height: 100px;
    float: left; }
  .product-medium div {
    float: left;
    margin-left: 0.5rem; }
    .product-medium div h4 {
      font-weight: bold; }
  .product-medium a {
    color: black; }

/*******************************************************************************
	Product sale-medium
*******************************************************************************/
/*******************************************************************************
	Product picked-medium
*******************************************************************************/
.product-picked-medium .product-info {
  margin-top: 17px; }
.product-picked-medium .picked-options {
  float: right;
  margin-top: 21px; }
.product-picked-medium #adult-list > li {
  display: inline-block;
  margin: 0 1rem; }
.product-picked-medium #adult-list #child-list #colour, .product-picked-medium #adult-list #child-list #quantity, .product-picked-medium #adult-list #child-list #size {
  margin-top: 0.4rem;
  display: inline-block;
  float: left;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  border: 1px solid #7b7b7b;
  color: black; }

.product-picked-medium:after {
  content: "";
  display: block;
  clear: both; }

/*******************************************************************************
	Product Large
*******************************************************************************/
.product-large {
  padding: 1rem 0; }
  .product-large h1, .product-large h2, .product-large h3, .product-large h4 {
    text-align: left;
    margin: 0 0 0 1rem; }
  .product-large p {
    padding: 1rem 0; }
  .product-large #img-slider {
    float: left;
    height: 18.75rem;
    width: 18.75rem;
    background: red; }
  .product-large .product-info {
    float: left; }
    .product-large .product-info h2 {
      padding-top: 2rem; }
    .product-large .product-info h4 {
      padding-top: 0.5rem; }
  .product-large table {
    margin: 1rem 0; }
  .product-large td:last-of-type {
    padding-left: 1rem; }

/*******************************************************************************
	Review
*******************************************************************************/
.review {
  padding: 1rem 0 1rem 0; }
  .review h4 {
    font-size: 1rem;
    font-weight: bold; }
  .review p:first-of-type {
    font-size: 0.8rem; }

/*******************************************************************************
	Error pages
*******************************************************************************/
#error #code {
  font-size: 3rem;
  margin-top: 5rem; }
#error ul li {
  text-align: center; }

/*******************************************************************************
	Footer
*******************************************************************************/
/* This is that amount of the footer to show when the the page content is not
 * large enough to remove the footer from the initial view of the page.
 */
html, body {
  position: absolute;
  width: 100%;
  min-height: 100%; }

article {
  padding-bottom: 8.8rem; }

footer {
  height: 8.8rem;
  width: 100%;
  position: absolute;
  bottom: 0; }

footer {
  border-top: 4px solid #4c9cf1; }
  footer #footer-links {
    width: 70%;
    margin: auto; }
    footer #footer-links ul {
      width: 25%;
      float: left;
      padding: 1rem 0; }
      footer #footer-links ul li:first-of-type {
        color: #2262ad;
        font-weight: bold;
        font-size: 1.2rem;
        margin-bottom: 0.6rem; }
        footer #footer-links ul li:first-of-type a:visited {
          color: #2262ad; }
      footer #footer-links ul li:not(:first-of-type) {
        margin: 0.4rem 0; }
        footer #footer-links ul li:not(:first-of-type) a, footer #footer-links ul li:not(:first-of-type) a:visited {
          color: #333; }
    footer #footer-links ul:not(:last-of-type) {
      margin-right: 12.5%; }
  footer #footer-links-mobile {
    display: none; }
  footer .logo {
    clear: both;
    margin: 0.5rem auto;
    display: block;
    width: 180px; }
  footer p {
    text-align: center;
    margin: 1.5rem 0 0.4rem 0; }

/*******************************************************************************
	Media Queries
*******************************************************************************/
@media screen and (max-width: 50rem) {
  footer #footer-links {
    width: 90%; } }
@media screen and (max-width: 40rem) {
  footer #footer-links {
    display: none; }
  footer #footer-links-mobile {
    display: initial; }
    footer #footer-links-mobile li {
      color: #2262ad;
      font-weight: bold;
      font-size: 1.2rem;
      margin-bottom: 0.6rem;
      text-align: center; }
    footer #footer-links-mobile ul {
      padding: 1rem; }
    footer #footer-links-mobile a {
      color: #2262ad; } }
